body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #F7F7F7;
}

h1 {
	margin-top: 20px;
}

#pergunta {
	font-size: 48px;
	margin-top: 50px;
}

input[type="number"] {
	font-size: 24px;
	padding: 5px 10px;
	margin-top: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px #ccc;
	appearance: textfield;
	-webkit-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button {
	font-size: 24px;
	padding: 10px 20px;
	margin-top: 20px;
	border-radius: 5px;
	border: none;
	background-color: #4CAF50;
	color: white;
	box-shadow: 0px 0px 5px #ccc;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
}

button:hover {
	background-color: #3E8E41;
}

#contador {
	font-size: 24px;
	margin-top: 20px;
	color: #666;
}
